<section id="about" class="about-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">Sobre mim</h2>
                    <p>Sou um desenvolvedor de sistemas e sites web, mas também com conhecimentos a respeito de sistemas desktop.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50">
                    <h5 class="about-title">Olá! Eu sou Alex Alves</h5>
                    <p>
                        Tenho {{ idade }} anos e moro em Natal. Sou Bacharel em Tecnologia da Informação pela Universidade Federal do Rio Grande do Norte (UFRN). 
                        Além disso, também sou técnico em informática pelo Instituto Federal de Educação Ciência e Tecnologia do Rio Grande do Norte(IFRN). 
                        Atualmente, estou no cargo de Tech Arch Senior Analyst contratado pela empresa de consultoria <a style="color: #a600ff;" href="https://www.accenture.com/" target="_blank">Accenture</a> e prestando serviços para a empresa de adquirência <a style="color: #0774e7;" href="https://www.cielo.com.br/" target="_blank">Cielo</a>. 
                        Também tenho exercido o papel de líder técnico na equipe nos últimos anos, arquitetando soluções e dando suporte ao time.
                    </p>
                    <ul class="clearfix">
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-calendar"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Data de nascimento:</span> 10 de Outubro de 1996</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Email:</span> jhosealex@gmail.com</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-phone-handset"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Telefone:</span> +55 (84) 98864-9373</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Endereço:</span> Av. Cap. Mor Gouveia, 3000 - Lagoa Nova, Natal - RN, 59078-970</p>
                                    
                                </div>
                            </div> <!-- single info -->
                        </li>
                    </ul>
                </div> <!-- about content -->
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="about-skills pt-25">
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">HTML</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">90</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="90"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">CSS</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">85</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="85"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">JavaScript</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">80</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="80"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Angular</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">70</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="70"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Java</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">60</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="60"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Ionic</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">50</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="50"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">React</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">40</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="40"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">React Native</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">40</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="40"></div>
                            </div>
                        </div>
                    </div> 

                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">MongoDB</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">65</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="65"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->

                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">MySQL</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">55</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="65"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <!-- skill item -->
                </div> <!-- about skills -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>