<section id="service" class="services-area gray-bg pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Meus Serviços</h2>
                    <p>Os melhores serviços na área da tecnologia da informação você encontra aqui. Não perca tempo, saia do papel e da caneta. Contate um dos serviços para auxiliar o seu negócio, otimizando tempo e dinheiro.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <!-- <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-code-alt"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Web Design</a></h4>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis blandit enimdicta sunt.</p>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-color-pallet"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#contact">Graphic Design</a></h4>
                        <p>Curabitur vitae magna felis. Nulla ac libero ornare, vestibulum lacus quis blandit enimdicta sunt.</p>
                    </div>
                </div> 
            </div> -->
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-website"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Desenvolvimento Web</a></h4>
                        <p>Obtenha um sistema para gerenciar o seu negócio de forma simples e prática.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-mobile"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Aplicativos</a></h4>
                        <p>Tenha um aplicativo na palma das mãos dos seus clientes, que facilite o acesso ao seu sistema.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-vector"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">API REST</a></h4>
                        <p>Construção de EndPoints para que suas aplicações possam se comunicar com outras.</p>
                    </div>
                </div> <!-- single service -->
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-service text-center mt-30">
                    <div class="service-icon">
                        <i class="lni-cog"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="service-title"><a href="#">Arquitetura</a></h4>
                        <p>Como arquiteto de software, ajudo empresas e equipes a transformar ideias complexas em soluções viáveis, escaláveis e bem estruturadas.</p>
                    </div>
                </div> <!-- single service -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>